html {
  font-family: 'Roboto', 'Arial', sans-serif;
  zoom: 0.75; }

html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 50px; }

p {
  font-size: 26px;
  color: #212121; }

.h1 {
  font-size: 36px !important;
  font-weight: 500; }

.mini {
  font-size: 24px !important;
  color: #727272; }

.error {
  color: #cb2324; }

.loading {
  width: 70px; }

.under-input-field {
  margin-top: 10px;
  display: none; }
  .under-input-field.show {
    display: inline-block; }

.view {
  display: none;
  padding: 48px; }
  .view.show {
    display: block; }
  .view#preload, .view#preload_error {
    padding-top: 150px; }
    .view#preload img, .view#preload_error img {
      margin-bottom: 10px; }
  .view#preload_error {
    padding-top: 110px; }
  .view#form {
    text-align: left; }
    .view#form .form-group {
      padding: 10px 0; }
      .view#form .form-group input {
        width: 100%;
        height: 46px;
        font-size: 26px;
        position: relative;
        outline: none;
        border: none;
        border-bottom: 2px solid #67a420; }
        .view#form .form-group input.invalid {
          animation: invalid .5s;
          -webkit-animation: invalid .5s;
          border-bottom-color: #cb2324; }
  .view button {
    margin-top: 10px;
    padding: 20px 30px;
    background: #67a420;
    color: white;
    font-size: 21px;
    border: none;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .2s; }
    .view button[disabled] {
      opacity: 0.5; }
    .view button.full {
      width: 100%; }
    .view button.mini-button {
      width: 50%; }

@keyframes invalid {
  0% {
    left: 8px; }
  10% {
    left: -8px; }
  30% {
    left: 8px; }
  60% {
    left: -8px; }
  100% {
    left: 0px; } }

@-webkit-keyframes invalid {
  0% {
    left: 8px; }
  10% {
    left: -8px; }
  30% {
    left: 8px; }
  60% {
    left: -8px; }
  100% {
    left: 0px; } }
